<div ng-hide="$select.searchEnabled && ($select.open || $select.isEmpty())" class="ui-select-match">
  <span ng-if="$select.selected.length <= 1" data-value
       ng-repeat="$item in $select.selected track by $index"
       ng-click="$selectMultiple.activeMatchIndex = $index;"
       ng-class="{'active':$selectMultiple.activeMatchIndex === $index}"
       ui-select-sort="$select.selected">
      <span uis-transclude-append></span>
  </span>
  <span ng-if="$select.selected.length > 1">{{$select.selected.length}} selected</span>
</div>
